<header class="site-header">
  <h1 class="site-title">Juliana Gentile</h1>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/projects/">Projects</a></li>
      <li class="nav-item"><a href="/education/">Education</a></li>
      <li class="nav-item"><a href="/activities/">Activities</a></li>
      <li><a href="{{ '/about' | relative_url }}" class="nav-item">About</a></li>
      <li><a href="{{ '/contact' | relative_url }}" class="nav-item">Contact</a></li>
    </ul>
  </nav>
</header>
